.alert{
	border: .5px solid transparent;
	border-radius: 2px;
	padding: 10px 15px;
	font-size: 1rem;
	position: relative;
	&:before {
		position: absolute;
		left: 15px;
		@include fa('');
		line-height: 1 !important;
	}
	a{
		line-height: 1;
		border-bottom: 1px solid inherit;
		color: inherit;
	}
	&.alert__primary {
		@include alert-style-mixin($color-primary);
		color:#004085;
	}
	&.alert__secondary {
		@include alert-style-mixin($color-secondary);
		color:#383d41;
	}
	&.alert__success {
		@include alert-style-mixin($color-success);
		color:#155724;
		&:before {
			content: "\f058";
		}
	}
	&.alert__danger {
		@include alert-style-mixin($color-danger);
		color:#721c24;
	}
	&.alert__warning {
		@include alert-style-mixin($color-warning);
		color: #856404;
	}
	&.alert__info {
		@include alert-style-mixin($color-info);
		color: #0c5460;
		&:before {
			content: "\f05a";
		}
	}
	&.alert__light {
		@include alert-style-mixin($color-light);
		color: #818182;
		&:before {
			content: "\f0eb";
		}
	}
	&.alert__dark {
		@include alert-style-mixin($color-dark);
		color: #1b1e21;
		&:before {
			content: "\f0eb";
		}
	}
}