@include:'_accordeon.scss';
@include:'_block.scss';
@include:'_button.scss';
@include:'_carousel.scss';
@include:'_checkbox.scss';
@include:'_content.scss';
@include:'_element.scss';
@include:'_form.scss';
@include:'_galerry.scss';
@include:'_modal_window.scss';
@include:'_popup.scss';
@include:'_radiobutton.scss';
@include:'_section.scss';
@include:'_select.scss';
@include:'_slider.scss';






