html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
@media (min-width: 501px) and (max-width: 600px) {
  html {
    font-size: 11px;
  }
}
@media (min-width: 601px) and (max-width: 800px) {
  html {
    font-size: 12px;
  }
}

body {
  font: 400 2rem/1.6 "Open Sans", sans-serif !important;
  color: #000000 !important;
  position: relative;
  box-sizing: border-box;
  background: #FFFFFF !important;
  letter-spacing: 0.7px;
}

h1 {
  display: grid;
  color: #000000 !important;
  font-size: 4.8rem;
  margin: 5px 0;
}
h1 > .header-text {
  display: grid;
  font-weight: 400;
}
h1 > .description {
  color: #000000 !important;
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  display: grid;
  color: #000000 !important;
  font-size: 3.6rem;
  margin: 5px 0 6rem;
  letter-spacing: 1.8px;
}

h3 {
  display: grid;
  color: #000000 !important;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 5px 0 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h4 {
  display: grid;
  color: #000000 !important;
  font-size: 1rem;
  margin: 5px 0;
  letter-spacing: 0.5px;
}

a {
  cursor: pointer;
  display: grid;
  text-decoration: none;
  border: none;
}

p {
  margin-bottom: 10px;
  font-size: 2rem;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.button {
  display: inline-grid;
  text-align: center;
  border-radius: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.button.button-success {
  background: #1cb841;
}
.button.button-success:hover, .button.button-success:active, .button.button-success:focus {
  background: #158c31;
}
.button.button-error {
  background: #ca3c3c;
}
.button.button-error:hover, .button.button-error:active, .button.button-error:focus {
  background: #a62d2d;
}
.button.button-warning {
  background: #df7514;
}
.button.button-warning:hover, .button.button-warning:active, .button.button-warning:focus {
  background: #b05c10;
}
.button.button-primary {
  background: #0078e7;
}
.button.button-primary:hover, .button.button-primary:active, .button.button-primary:focus {
  background: #005eb4;
}
.button.button-secondary {
  background: #42b8dd;
}
.button.button-secondary:hover, .button.button-secondary:active, .button.button-secondary:focus {
  background: #24a1c8;
}
.button.button-success.button-xsmall, .button.button-error.button-xsmall, .button.button-warning.button-xsmall, .button.button-primary.button-xsmall, .button.button-secondary.button-xsmall {
  font-size: 70%;
}
.button.button-success.button-small, .button.button-error.button-small, .button.button-warning.button-small, .button.button-primary.button-small, .button.button-secondary.button-small {
  font-size: 85%;
}
.button.button-success.button-large, .button.button-error.button-large, .button.button-warning.button-large, .button.button-primary.button-large, .button.button-secondary.button-large {
  font-size: 110%;
}
.button.button-success.button-xlarge, .button.button-error.button-xlarge, .button.button-warning.button-xlarge, .button.button-primary.button-xlarge, .button.button-secondary.button-xlarge {
  font-size: 125%;
}