.alert {
  border-width: 0.5px;
  border-radius: 2px;
  border-style: solid;
  padding: 10px 15px;
  font-size: 1rem;
}
.alert.alert__primary {
  background-color: rgba(0, 120, 231, 0.4);
  border-color: #0075e2;
  color: #004085;
}
.alert.alert__secondary {
  background-color: rgba(66, 184, 221, 0.4);
  border-color: #3eb6dc;
  color: #383d41;
}
.alert.alert__success {
  background-color: rgba(28, 184, 65, 0.4);
  border-color: #1bb43f;
  color: #155724;
}
.alert.alert__danger {
  background-color: rgba(202, 60, 60, 0.4);
  border-color: #c93838;
  color: #721c24;
}
.alert.alert__warning {
  background-color: rgba(255, 243, 205, 0.4);
  border-color: #fff2c8;
  color: #856404;
}
.alert.alert__info {
  background-color: rgba(12, 84, 96, 0.4);
  border-color: #0b505b;
  color: #0c5460;
}
.alert.alert__light {
  background-color: rgba(254, 254, 254, 0.4);
  border-color: #f9f9f9;
  color: #818182;
}
.alert.alert__dark {
  background-color: rgba(214, 216, 217, 0.4);
  border-color: #d3d5d7;
  color: #1b1e21;
}
.alert.alert__primary a, .alert.alert__secondary a, .alert.alert__success a, .alert.alert__danger a, .alert.alert__warning a, .alert.alert__info a, .alert.alert__light a, .alert.alert__dark a {
  position: relative;
}
.alert.alert__primary a.alert__link, .alert.alert__secondary a.alert__link, .alert.alert__success a.alert__link, .alert.alert__danger a.alert__link, .alert.alert__warning a.alert__link, .alert.alert__info a.alert__link, .alert.alert__light a.alert__link, .alert.alert__dark a.alert__link {
  text-decoration: none;
}
.alert.alert__primary a.alert__link:after, .alert.alert__secondary a.alert__link:after, .alert.alert__success a.alert__link:after, .alert.alert__danger a.alert__link:after, .alert.alert__warning a.alert__link:after, .alert.alert__info a.alert__link:after, .alert.alert__light a.alert__link:after, .alert.alert__dark a.alert__link:after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}